
.body {
overflow-x: hidden;
}

.about {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7vh;
    font-weight: bold;
    background-color: red;
    background-image: linear-gradient(45deg,#1488CC, #2B32B2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size:7vh;
    z-index: 1;
    font-weight: bold;
}

.ban {
    width: 100%;
    height: auto;
    top: 2%;
    align-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-height: 80%;
    min-height: 75%;
    border-radius: 25px;
}

.fact1 {
    position: relative;
    width: 80%;
    height: 15vh;
    top: 5%;
    background-color: #F8F8F8;
    border-radius: 25px;
    left:10%;
    font-size:1.2vh;

}

.fact2 {
    position: relative;
    width:85%;
    height:15vh;
    top: 10%;
    background-color: #F8F8F8;
    border-radius: 25px;
    font-size:1.2vh;
    left: 7%;

}


.fact1t {
    margin-left: 5%;
    margin-right: 5%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.grad {
    padding-top: 5%;
    width: 30%;
    height: auto;
    max-height: 75.88px;
}

.imsg {
    top: 5vh;
    width: 100%;
    height: auto;
}

.imsg2 {
    width: 100%;
    height: auto;
}

.strip {
    position: relative;
    align-content: center;
    width: 2%;
    height: 20vh;
    left: 50%;
    top: 2vh;
    bottom: 2vh;
    border-radius: 25px;
    background-color: #EEEEEE;
}

.strip1 {
    position: relative;
    align-content: center;
    width: 2%;
    height: 20vh;
    left: 50%;
    border-radius: 25px;
    background-color: #EEEEEE;
}


.pampers {
    width: 100%;
    height: auto;
    padding: 10%;
    left: -15vh;
    align-content: center;
}

.kyrie {
    position: relative;
    width: 90%;
    top:-5vh;
    left: 0vh;
    height: auto;
    z-index: 1;
    
}

.s8 {
    position: absolute;
    width: 30%;
    height: auto;
    left: 20vh;
}

.s9 {
    position: absolute;
    width: 25%;
    height: auto;
    left: 40vh;
}



.pamperst {
    position: relative;
    font-size: 4vh;
    text-align: left;
    left:2vh;
    top: 10%;
    font-weight: bold;
    background-color: red;
    background-image: linear-gradient(45deg,#1488CC, #2B32B2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.pamperst2 {
    position: relative;
    font-size: 3vh;
    text-align: left;
    left:2vh;
    top: 10%;
    font-weight: bold;
    background-color: red;
    background-image: linear-gradient(45deg,#1488CC, #2B32B2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tag123 {
    position: relative;
    width: 80%;
    height: 5vh;
    background-color:#1488CC;
    left:2vh;
    top: 3vh;
    border-radius: 25px;
}

.tag456 {
    position: relative;
    width: 80%;
    height: 5vh;
    background-color:#2B32B2;
    top: 3vh;
    left:2vh;
    border-radius: 25px;
}



.tag7 {
    position: relative;
    width: 80%;
    height: 5vh;
    background-color:#1488CC;
    left:2vh;
    top: 5vh;
    border-radius: 25px;
}

.tag8 {
    position: relative;
    width: 80%;
    height: 5vh;
    background-color:#2B32B2;
    left:2vh;
    top: 5vh;
    border-radius: 25px;
}

.tagt {
    position: relative;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    top: 25%;
}

.pampersp {
    position: relative;
    text-align: justify;
    left:2vh;
    top: 10%;
    font-size: 2vh;
}

.twen {
    padding: 10%;
    font-weight: bold;
    background-color: red;
    background-image: linear-gradient(45deg,#1488CC, #2B32B2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 7vh;
}

.emoji {
    top: 5vh;
    width: 100%;
    height: auto;
    align-content: center;
}

.space {
    height: 20vh;
}