
.title4 {
    background-color: red;
    background-image: linear-gradient(45deg,#1488CC, #2B32B2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size:7vh;
    z-index: 1;
    font-weight: bold;
}

.move {
    position: fixed;
    top: 62vh;
    left: 38%;
    font-size: 3vh;
}
.container {
    width: 80%;
    height: 50%;
    left: 50%;
    top: 35%;
}
.welcome1 {
    font-size: 2.2vh;
}
.end {
    font-size: 2vh;
}

.head1{
    height: auto;
    width: 60%;
  }

.blue {
    border-radius: 50%;
    width:15vh;
    height: 15vh;
    background-image: linear-gradient(45deg,#1488CC, #2B32B2);}

.lin {
    width: 40%;
    height: auto;
    top: 4.5vh;
    position: relative;
}

.lin2 {
    width: 50%;
    height: auto;
    top: 3.5vh;
    position: relative;
}